
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 100%, 100%);
    color: #DE1037;
}

h1,h2,h3,h4{
    font-family: 'Lora', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Arimo', sans-serif;

}

.nav-green {
    background-color: #E8A305;
}
.btn-blue {
    background-color: #5418DE;
    transition: fill 0.2s;
}
.btn-blue:hover {
    background-color: #5418DE;
}
.btn-blue:active {
    background-color: #5418DE;
}
.jumbotron-title {
    background-image: url("http://www.planwallpaper.com/static/images/2ba7dbaa96e79e4c81dd7808706d2bb7_large.jpg");
    background-size: cover;
    display: table-cell;
    height: 94vh;
    width: 100vw;
    vertical-align: middle;
}
.jumbotron-light {
    background-color: hsl(30, 100%, 100%);
    color: #DE2610;
}
.jumbotron-dark {
    color: hsl(30, 100%, 100%);
    background-color: #05E8C2;
}
.container-title {
    background-color: #05E8C2;
    color: hsl(30, 100%, 100%);
    box-shadow: 0 2px 6px rgba(126, 132, 122, 0.43);
}
/*footer and footer position*/
.wrap {
    min-height: 94vh;
    height: auto !important;
    margin: 0 auto -12rem;
}
footer,
.push{
    height: 12rem;
}
footer {
    line-height: 3rem;
    background-color: #05E8C2;
    color: hsl(30, 100%, 100%);
}
/*icons*/
.iconic {
    fill: hsl(30, 100%, 100%);
    transition: fill 0.2s;
}
.iconic:hover {
  fill: #E8A305;
}
.iconic:active {
  fill: #E8A305;
}
@media (min-width: 544px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

@media (min-width: 768px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
    .jumbotron-title {
        background-image: url("http://www.planwallpaper.com/static/images/2ba7dbaa96e79e4c81dd7808706d2bb7_large.jpg");
    }
}

@media (min-width: 992px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    
    .jumbotron-title {
        background-image: url("http://www.planwallpaper.com/static/images/2ba7dbaa96e79e4c81dd7808706d2bb7_large.jpg";
    }
}